html{padding-left: 10px; padding-right: 10px; padding-bottom: 30px;}
a:link  { color: #069; text-decoration: underline }
.link_back  { color: #069; font-size: xx-small; text-decoration: underline; display: inline-block; }
.link_back + div { margin-top:12px;}

a:visited  { color: purple; text-decoration: underline }
a:hover { }
.HL_group      	{ font-size: 16px; font-weight: bold; padding-top: 10px; display: inline-block; }
.HL_atom       	{ font-size: 12px; font-weight: normal }
.HL_1          	{ font-size: 13px; font-weight: bolder; line-height: 16px }
.HL_2         	{ font-size: 12px; font-weight: bold;   line-height: 16px }
.HL_3         	{ font-size: 11px; font-weight: bold;  line-height: 16px;  font-style: italic  }
.text   		{ font-size: 12px }
.command        { font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; font-weight: bold }
.command_value  { font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica,  sans-serif; font-style: italic }
.range    				{ color: #646464; font-size: 110%; font-family: "Courier New", Courier, Monaco, monospace; font-weight: normal; position: relative }
.c4d_menu_id        { color: #000080; font-size: 13px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; font-weight: normal; padding: 1px; top: 20px; border-color: gray }
.c4d_id             { color: #000080; font-size: 13px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;font-weight: bold;  position: relative }
.no_id              { color: #000080; font-size: 13px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; font-weight: bold;  position: relative }
.c4d_id_cycle       { color: #000080; font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; font-style: italic;  line-height: 14px;  padding: 1px; border-color: gray }
.no_cycle_id        { color: #000080; font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; font-style: italic;  line-height: 14px; padding: 1px; border-color: gray }
.c4d_group_navi         	{ font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; line-height: 20px; background-color: #c0c0c0; padding: 1px; border: solid 1px gray }
.c4d_group_navi_self      	{ font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; line-height: 20px; background-color: #f0f0f0; padding: 1px; border: solid 1px gray }
.c4d_group  				{ font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; background-color: #c0c0c0; list-style-type: circle; padding: 1px; border: solid 0 gray }
.c4d_subgroup   			{font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica,  sans-serif; line-height: 16px; background-color: #c0c0c0; list-style-type: circle; list-style-image: url("subgroup.gif"); padding: 1px; border: solid 0 gray }

.hint     					{ background-color: #e0e0e0; padding: 3px; border-color: #fb0206 }
.HL_hint                { color: #272daf; font-weight: bold; border-top: 1px #646464; border-right: 1px #646464; outline-width: 2px }
.dir_page 					{ font-size: x-small }
.node_in  			{ color: #369; font-size: 20px; font-weight: bold }
.node_out  			{ color: #c66; font-size: 20px; font-weight: bold }
.found  					{ background-color: #ec802d }
.icon 						{ background-color: #878787; border-width: 1px; border-color: #595959 ;}
.cmd_icon 					{ background-color: #878787; border-color: #585858 }
.pic       					{ margin-top: 0px; margin-right: 0px; }
.pic_table 					{ margin-top: 10px; margin-right: 10px }
input 						{ font: 10px monospace }
body     					{ font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #fff; line-height: 140%; align:left}
td  						{ font-size: 11px }
.release    		{ color: #000080; font-size: x-small}
.release_marker       		{ padding-top: 0; padding-right: 4px; border-right: 1px solid #000080 }
.page_release      	{ color: #000080; font-size: x-small }
.new_in   			{ color: blue;  font-size: smaller }
.text_id        			{ font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; font-weight: bold;  position: relative }
.text_id_cycle     			{ font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; font-style: italic;  position: relative }
.text_command   			{ font-size: 12px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif; font-weight: bold;  position: relative  }
.menu                       { color: grey; font-size: 11px; font-weight: bold }
.key  						{ font-weight: bold; background-color: #eeeeee }
p 							{clear: both; margin-bottom: 0px; margin-top:12px; -webkit-margin-after: 12px; -webkit-margin-before: 12px; }
ul              {list-style-type: circle; margin: 1em; padding: 1em;}
li              {margin-top: 1em; margin-bottom: 1em; }
dd              {display: block; margin-top: 1em; margin-bottom: 1em; margin-left: 2em; margin-right: 0;}
p:empty						{display:none;}
span + p:empty				{display:block;}


.image_full img { float: left; max-width: 100%; width: 100%; }
.image_limit img{ float: left; width: 100%; }
.image_line, .image_full, .image_limit { margin-bottom:20px; margin-top: 10px; display:inline-block;}
.caption                { color: #272daf; font-size: 12px; font-style: italic; line-height: 120%; margin-top:5px;display:inline-block;}

	
/* Text-Farbe */
                                  .only_body,                                                 .page_only_body    { color: grey ;  }
  .lite         .in-lite          .only_body,           .lite         .in-lite-page           .page_only_body,
  .prime        .in-prime         .only_body,           .prime        .in-prime-page          .page_only_body,
  .visualize    .in-visualize     .only_body,           .visualize    .in-visualize-page      .page_only_body,
  .broadcast    .in-broadcast     .only_body,           .broadcast    .in-broadcast-page      .page_only_body,
  .bodypaint3d  .in-bodypaint3d   .only_body,           .bodypaint3d  .in-bodypaint3d-page    .page_only_body,
  .studio       .in-studio        .only_body,           .studio       .in-studio-page         .page_only_body     { color: black; }

  
/* Link-Farbe */
                                  .only_body a,                                                .page_only_body a    { color: grey ;  }
  .lite         .in-lite          .only_body a,          .lite         .in-lite-page           .page_only_body a,
  .prime        .in-prime         .only_body a,          .prime        .in-prime-page          .page_only_body a,
  .visualize    .in-visualize     .only_body a,          .visualize    .in-visualize-page      .page_only_body a,
  .broadcast    .in-broadcast     .only_body a,          .broadcast    .in-broadcast-page      .page_only_body a,
  .bodypaint3d  .in-bodypaint3d   .only_body a,          .bodypaint3d  .in-bodypaint3d-page    .page_only_body a,
  .studio       .in-studio        .only_body a,          .studio       .in-studio-page         .page_only_body a     { color: #069; }


                                        .c4d_id     { color: grey ;  }
  .lite         .in-lite-page           .c4d_id,
  .prime        .in-prime-page          .c4d_id,
  .visualize    .in-visualize-page      .c4d_id,
  .broadcast    .in-broadcast-page      .c4d_id,
  .bodypaint3d  .in-bodypaint3d-page    .c4d_id,
  .studio       .in-studio-page         .c4d_id     {  color: #000080;}

/* div ID-Farben */
                                    .c4d_id                                                                  { color: grey ;  }
  .lite         .in-lite            .c4d_id,
  .prime        .in-prime           .c4d_id, 
  .visualize    .in-visualize       .c4d_id,
  .broadcast    .in-broadcast       .c4d_id,
  .bodypaint3d  .in-bodypaint3d     .c4d_id,
  .studio       .in-studio          .c4d_id     {  color: #000080;}



                                 .no_id                                                                         { color: grey ;  }
  .lite         .in-lite          .no_id,               .lite          .in-lite-page           .no_id,
  .prime        .in-prime         .no_id,               .prime         .in-prime-page          .no_id,
  .visualize    .in-visualize     .no_id,               .visualize     .in-visualize-page      .no_id,
  .broadcast    .in-broadcast     .no_id,               .broadcast     .in-broadcast-page      .no_id,
  .bodypaint3d  .in-bodypaint3d   .no_id,               .bodypaint3d   .in-bodypaint3d-page    .no_id,
  .studio       .in-studio        .no_id,               .studio        .in-studio-page         .no_id           { color: #000080; }

 
                                  .c4d_menu_id                                                                  { color: grey ;  }
  .lite         .in-lite          .c4d_menu_id,         .lite          .in-lite-page           .c4d_menu_id,
  .prime        .in-prime         .c4d_menu_id,         .prime         .in-prime-page          .c4d_menu_id,
  .visualize    .in-visualize     .c4d_menu_id,         .visualize     .in-visualize-page      .c4d_menu_id,
  .broadcast    .in-broadcast     .c4d_menu_id,         .broadcast     .in-broadcast-page      .c4d_menu_id,
  .bodypaint3d  .in-bodypaint3d   .c4d_menu_id,         .bodypaint3d   .in-bodypaint3d-page    .c4d_menu_id,
  .studio       .in-studio        .c4d_menu_id,         .studio        .in-studio-page         .c4d_menu_id     { color: #000080; }


                                  .caption                                                                      { color: grey ;  }
  .lite         .in-lite          .caption,             .lite          .in-lite-page           .caption,
  .prime        .in-prime         .caption,             .prime         .in-prime-page          .caption,
  .visualize    .in-visualize     .caption,             .visualize     .in-visualize-page      .caption,
  .broadcast    .in-broadcast     .caption,             .broadcast     .in-broadcast-page      .caption,
  .bodypaint3d  .in-bodypaint3d   .caption,             .bodypaint3d   .in-bodypaint3d-page    .caption,
  .studio       .in-studio        .caption,             .studio        .in-studio-page         .caption         { color: black }



                                  .c4d_id_cycle                                                                 { color: grey ;  }
  .lite         .in-lite          .c4d_id_cycle ,       .lite          .in-lite-page           .c4d_id_cycle ,
  .prime        .in-prime         .c4d_id_cycle ,       .prime         .in-prime-page          .c4d_id_cycle ,
  .visualize    .in-visualize     .c4d_id_cycle ,       .visualize     .in-visualize-page      .c4d_id_cycle ,
  .broadcast    .in-broadcast     .c4d_id_cycle ,       .broadcast     .in-broadcast-page      .c4d_id_cycle ,
  .bodypaint3d  .in-bodypaint3d   .c4d_id_cycle ,       .bodypaint3d   .in-bodypaint3d-page    .c4d_id_cycle ,
  .studio       .in-studio        .c4d_id_cycle ,       .studio        .in-studio-page         .c4d_id_cycle    { color: #000080; }


                                  .no_id_cycle                                                                  { color: grey ;  }
  .lite         .in-lite          .no_id_cycle ,        .lite          .in-lite-page           .no_id_cycle ,
  .prime        .in-prime         .no_id_cycle ,        .prime         .in-prime-page          .no_id_cycle ,
  .visualize    .in-visualize     .no_id_cycle ,        .visualize     .in-visualize-page      .no_id_cycle ,
  .broadcast    .in-broadcast     .no_id_cycle ,        .broadcast     .in-broadcast-page      .no_id_cycle ,
  .bodypaint3d  .in-bodypaint3d   .no_id_cycle ,        .bodypaint3d   .in-bodypaint3d-page    .no_id_cycle ,
  .studio       .in-studio        .no_id_cycle ,        .studio        .in-studio-page         .no_id_cycle     { color: #000080; }


                                  .HL_hint                                                                      { color: grey ;  }
  .lite         .in-lite          .HL_hint ,        .lite          .in-lite-page           .HL_hint ,
  .prime        .in-prime         .HL_hint ,        .prime         .in-prime-page          .HL_hint ,
  .visualize    .in-visualize     .HL_hint ,        .visualize     .in-visualize-page      .HL_hint ,
  .broadcast    .in-broadcast     .HL_hint ,        .broadcast     .in-broadcast-page      .HL_hint ,
  .bodypaint3d  .in-bodypaint3d   .HL_hint ,        .bodypaint3d   .in-bodypaint3d-page    .HL_hint ,
  .studio       .in-studio        .HL_hint ,        .studio        .in-studio-page         .HL_hint             { color: #000080; }

                                  .new_in                                                                       { color: grey ;  }
  .lite         .in-lite          .new_in ,        .lite          .in-lite-page           .new_in ,
  .prime        .in-prime         .new_in ,        .prime         .in-prime-page          .new_in ,
  .visualize    .in-visualize     .new_in ,        .visualize     .in-visualize-page      .new_in ,
  .broadcast    .in-broadcast     .new_in ,        .broadcast     .in-broadcast-page      .new_in ,
  .bodypaint3d  .in-bodypaint3d   .new_in ,        .bodypaint3d   .in-bodypaint3d-page    .new_in ,
  .studio       .in-studio        .new_in ,        .studio        .in-studio-page         .new_in               { color: #000080; }



  
        
/* Marker Textblock */
.only_marker                                                { border-right: 1px dotted #000080; border-bottom: 1px dotted #000080;  border-top: 1px dotted #000080;  border-left: 1px dotted #000080;  }
  .lite         .in-lite            .only_marker,
  .prime        .in-prime           .only_marker,
  .visualize    .in-visualize       .only_marker,
  .broadcast    .in-broadcast       .only_marker,
  .bodypaint3d  .in-bodypaint3d     .only_marker,
  .studio       .in-studio          .only_marker            { border-right: 0px ; border-left: 0px ; border-top: 0px ; border-bottom: 0px ; }
  
/* apps info-Zeile Textblock */
.only_apps                                                  { color: blue;  font-size: xx-small;}
  .lite         .in-lite                .only_apps,
  .prime        .in-prime               .only_apps,
  .visualize    .in-visualize           .only_apps,
  .broadcast    .in-broadcast           .only_apps,
  .bodypaint3d  .in-bodypaint3d         .only_apps,
  .studio       .in-studio              .only_apps          { display:none; }

/* apps info-Zeile Seiten-Header  */
.page_only_apps                                             { color: blue;  font-size: 8pt;  text-align:right;     border: 1px solid #CCCCCC; padding-right: 5px;}
  .lite         .in-lite-page           .page_only_apps,
  .prime        .in-prime-page          .page_only_apps,
  .visualize    .in-visualize-page      .page_only_apps,
  .broadcast    .in-broadcast-page      .page_only_apps,
  .bodypaint3d  .in-bodypaint3d-page    .page_only_apps,
  .studio       .in-studio-page         .page_only_apps     { display:none; }